@mixin questions {
    padding-top: 40px;
        h1{
            margin-block-start: 0em!important;
            margin-block-end: 0em!important;

            font-size: 18px;
            margin-left: 7px;
        }
        h2{
            margin-block-start: 0!important;
            margin-block-end: 0!important;

            font-size: 18px;
            font-weight: bold;
            padding-bottom: 20px;
        }
        .question-child{
            margin-top: 10px;
            margin-left: 20px;
            display: flex;
            align-items: center;
            input{
                width: 17px;
                height: 17px;
                 
            }
            .num-input{
                width: 90%;
                height: inherit; 
                padding: 7px 15px;
                border-top: solid 1px #878787;
                border-right: solid 1px #878787;
                border-bottom: solid 1px #555555;
                border-left: solid 1px #555555;
            }
            label{
                margin-left: 12px;
            }
            .textarea-div{
                padding-top: 30px!important;
                // textarea{
                    
                // }
            }
            
        }
}