@media (min-width: 1700px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1520px;
  }
}
body {
  overflow-y: hidden;
}

.myquiz {
  width: 1920px;
  max-width: 100%;
}
.myquiz .myform {
  position: relative;
  width: 100%;
  height: 100vh;
}
.myquiz .myform .logo-div {
  position: absolute;
  width: 100px;
  height: 100px;
  left: calc(50% - 100px/2);
  top: 343px;
  z-index: 10000000000000000;
}
.myquiz .myform .logo-div img {
  width: 100px;
  height: 100px;
  left: calc(50% - 100px/2);
  margin: auto;
  position: absolute;
  object-fit: cover;
  transition: all 0.005s;
}
.myquiz .myform .starter-page {
  width: 100%;
  height: 100vh;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myquiz .myform .starter-page .starter-butt {
  position: absolute;
  top: 504px;
}
.myquiz .myform .starter-page .starter-butt .start {
  color: #232323;
  position: absolute;
  width: 498px;
  left: calc(50% - 498px/2);
  font-family: TBC Contractica CAPS;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-transform: lowercase;
  font-feature-settings: "case" on;
  background-color: transparent;
  border: none;
  outline: none;
  transition: all 0.3s;
}
.myquiz .myform .final-page {
  background-color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.myquiz .myform .final-page .textOverflow-div {
  overflow: hidden;
  width: fit-content;
  height: 250px;
  display: flex;
  align-items: center;
  z-index: -3 !important;
}
.myquiz .myform .final-page .textOverflow-div .thanks {
  width: fit-content;
  height: 100px;
  background-color: #232323;
  transform: translateY(-250px);
  display: flex;
  align-items: center;
  position: relative;
  z-index: -1 !important;
}
.myquiz .myform .final-page .textOverflow-div .thanks h1 {
  color: #fff;
  font-size: 60px;
  letter-spacing: 12px;
}
.myquiz .myform .final-page .textOverflow-div .thanks .icons {
  position: absolute;
  font-size: 34px;
  color: #fff;
  opacity: 0;
  z-index: -9999 !important;
  transition: all 0.6s;
}
.myquiz .myform .final-page .textOverflow-div .thanks .up {
  left: 100px;
}
.myquiz .myform .final-page .textOverflow-div .thanks .down {
  right: 100px;
}
.myquiz .myform .same {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  padding-top: 50px;
  transition: all 0.7s;
}
.myquiz .myform .same .left .inp-div {
  margin-top: 42px;
}
.myquiz .myform .same .left .inp-div .error {
  height: 10px;
  margin-top: 10px;
  color: #FE3B1F;
  transition: all 0.8s;
}
.myquiz .myform .same .left .inp-div input {
  width: 80%;
  background-color: transparent;
  padding: 7px 15px;
  outline: none;
  border-top: solid 1px #878787;
  border-right: solid 1px #878787;
  border-bottom: solid 1px #555555;
  border-left: solid 1px #555555;
  margin-top: 8px;
}
.myquiz .myform .same .left .inp-div input::placeholder {
  color: black !important;
}
.myquiz .myform .same .left .text {
  margin-top: 130px;
  position: absolute;
  position: relative;
}
.myquiz .myform .same .left .text::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 262px;
  height: 1px;
  background-color: #000;
}
.myquiz .myform .same .left .question-div {
  padding-top: 40px;
}
.myquiz .myform .same .left .question-div h1 {
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  font-size: 18px;
  margin-left: 7px;
}
.myquiz .myform .same .left .question-div h2 {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 20px;
}
.myquiz .myform .same .left .question-div .question-child {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.myquiz .myform .same .left .question-div .question-child input {
  width: 17px;
  height: 17px;
}
.myquiz .myform .same .left .question-div .question-child .num-input {
  width: 90%;
  height: inherit;
  padding: 7px 15px;
  border-top: solid 1px #878787;
  border-right: solid 1px #878787;
  border-bottom: solid 1px #555555;
  border-left: solid 1px #555555;
}
.myquiz .myform .same .left .question-div .question-child label {
  margin-left: 12px;
}
.myquiz .myform .same .left .question-div .question-child .textarea-div {
  padding-top: 30px !important;
}
.myquiz .myform .same .left .left-reco {
  height: 678px;
  overflow-y: auto;
}
.myquiz .myform .same .left .left-reco .recomendations .text-reco {
  margin-top: 30px;
}
.myquiz .myform .same .left .left-reco .recomendations .text-reco p {
  font-weight: 600;
}
.myquiz .myform .same .left .left-reco .end-button {
  width: 100%;
  padding-top: 40px;
}
.myquiz .myform .same .left .left-reco .end-button button {
  display: block;
  width: fit-content;
  margin-left: auto;
  padding: 10px 24px;
  background-color: #208298;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
}
.myquiz .myform .same .right img {
  position: relative;
  max-width: 100%;
  max-height: 100% !important;
  margin-top: -30px;
  object-fit: cover;
}
.myquiz .myform .same .right .first-img {
  width: 904px;
  height: 831px;
}
.myquiz .myform .same .right .second-img {
  width: 949px;
  height: 892px;
}
.myquiz .myform .same .right .third-img {
  width: 783px;
  height: 739px;
  margin-top: 40px;
}
.myquiz .myform .same .right .forth-img {
  width: 703px;
  height: 703px;
  margin-top: 40px;
}
.myquiz .myform .same .navigation {
  width: 100%;
  position: absolute;
  left: 0 !important;
  bottom: 60px !important;
}
.myquiz .myform .same .navigation .navig-child {
  width: 140px;
  margin: auto;
}
.myquiz .myform .same .navigation .navig-child button {
  border: none;
  outline: none;
  background-color: transparent;
}
.myquiz .myform .same .navigation .navig-child button i {
  font-size: 22px;
}
.myquiz .myform .same .navigation .navig-child .next {
  float: right;
}

.head-div {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #232323;
  padding: 0px 0px;
}
.head-div h1 {
  color: #FE3B1F;
  font-weight: bold;
}
.head-div p {
  font-size: 30px;
  font-weight: bold;
  color: #232323;
}

.active-page {
  opacity: 1 !important;
  transition: all 0.7s;
  position: relative;
  z-index: 99999;
}

.scrollDown {
  transform: translateY(0px) !important;
  transition: all 0.8s;
}

.up-show {
  opacity: 1 !important;
  transform: translate(-70px, -70px);
  z-index: 9999 !important;
}

.down-show {
  opacity: 1 !important;
  transform: translate(70px, 70px);
  z-index: 9999 !important;
}

/*# sourceMappingURL=style.css.map */
